html {
  font-family: Outfit, Arial, Helvetica, sans-serif;
  font-size: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

footer {
  font-size: 10px;
  color: #666666;
  a, a:visited {
    color: #666666;
  }
}

.entry-date {
  font-size: 14px;
  color: #666666;
}

a, a:visited {
  color: #125e0b;
  text-decoration: none;
  font-weight: 700;
}

nav {
  padding-bottom: 20px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      padding-bottom: 8px;
    }
  }
  > a {
    padding-right: 20px;
  } 
}

figure {
  margin: 2rem 0;
}
figcaption {
  font-style: italic;
  margin-top: 0.5rem;
}