---
import '../styles/global.css';
---
<html lang="en">
  <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/icons8-tree-pulsar-color-32.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Don Schuy's Activity Log</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
    </nav>
    <article>
      <slot />
    </article>
  </body>
</html>